 h1::first-letter{
  font-size: 2em;
  font-style: italic;
}
p::first-line{
  background: hsl(60, 77%, 55%);
}
p::selection{
  color: #726525e4;
  background-color: #27b42475;
}
#fruit li::before{
   content:"✔️";
}
#apple::after{
  content:"🍎";
}
#orange::after{
  content:"🍊";
}
#banana::after {
  content:"🍌 ";
  
}
#fruit li::marker{
  content:"❤︎";
  color: rgb(182, 25, 164);
  font-size: 1.2em;
  font-style: italic;
}